backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
basemap==1.0.7
bleach==1.5.0
blinker==1.4
configparser==3.5.0
cycler==0.10.0
decorator==4.0.11
docutils==0.13.1
entrypoints==0.2.2
enum34==1.1.6
feedgenerator==1.9
functools32==3.2.3.post2
gpxpy==1.1.1
html5lib==0.999
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.5
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.2.0
networkx==1.11
notebook==5.7.8
numpy==1.11.3
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.2.0
pelican==3.7.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
plotly==1.12.9
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pycairo==1.10.0
Pygments==2.2.0
pyparsing==2.0.3
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
regex==2017.2.8
requests==2.13.0
scandir==1.4
scikit-image==0.12.3
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smartypants==2.0.0
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
typogrify==2.0.7
Unidecode==0.4.20
wcwidth==0.1.7
widgetsnbextension==1.2.6
